@use "@styles/mixin.module.scss" as mixin;

.btn {
  @include mixin.btn(176px, 42px, #333333, 3px);
  align-items: center;
  color: #ffffff;
}
.btn:hover {
  @include mixin.btn(176px, 42px, #fff, 3px);
  color: #333333;
}
